.App-body {
  text-align: center;
  background-color: papayawhip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #5f695e;
}

.container {
  min-width: 40vw;
  padding: 2rem;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 30%);
  background: white;
}

.App-link {
  color: #61dafb;
}

/* adding css styling - yb */

.App-header p {
  color: #606b5e;
  font-weight: bold;
  font-size: 30px;
}

.main-form select{
  /* background-color: #4CAF50; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3rem;
  width: 18rem;
  font-size: 18px;
}

.main-form button{
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-form {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  /* justify-content: space-around; */
}

.input-form {
  flex-basis: 100%;
  /* background-color: blue; */
}

.list {
  /* display: flex; */
  font-size: 20px;

}

.task {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  margin: 0.8rem 0;
  padding: 0.4rem;
}

.task button{
  border: 1px solid red;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-size: 12px;
}

.dropdown{
  margin: 1rem auto;
}
.dropdown-top {
  border: 1px solid rgb(200, 197, 197);
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
 
}

.dropdown label{
  font-size: 14px;
  margin: 0;

}
.dropdown button{
  background-color: white;
  border: 0;
}

.dropdown ul{
  /* font-size: 26px; */
  margin: 0;
  color: black;
  /* margin-bottom: 2px; */
  /* border: 1px solid gray; */
}


.dropdown-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
  
}


.guest {
/* background-color: blue; */
  display: flex;
  justify-content: space-between;
}

.guest button{
  /* background-color: blue; */
  border: 1px solid gray;
  border-radius: 50%;
   
}

.guest label{
  /* background-color: blue; */
 
  margin-right: 10rem;
   
}


/* end of adding css styling - yb */
