.App {
  text-align: center;
}

.App-header {
  background-color: #eeebdd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5f695e;
}

.App-link {
  color: #61dafb;
}

/* adding css styling - yb */

.App-header p {
  color: #606b5e;
  font-weight: bold;
  font-size: 30px;
}

.main-form input{
  /* background-color: #4CAF50; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3rem;
  width: 18rem;
  font-size: 18px;
}

.main-form button{
  background-color: #798777;
  color: white;
  padding: 6px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.container-form {
  padding: 1rem;
  background-color: white;
  border: 1px solid #bdd2b6;
  /* box-shadow: 3px 3px  gray; */
}

.list {
  /* background-color: red; */
  width: 20.1rem;
  /* display: flex; */
  font-size: 20px;

}

.task {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.task button{
  border: 1px solid red;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-size: 12px;
}

/* end of adding css styling - yb */
